.scrambled-webs-active {
  cursor: move;
  user-select: none;
}

.scrambled-webs-active *:not(body) {
  transition: outline 0.2s ease-in-out;
}

.scrambled-webs-active *:not(body):hover {
  outline: 2px solid black;
}

.scrambled-webs-dragging {
  outline: 5px solid black !important;
}

.scrambled-webs-active a,
.scrambled-webs-active button,
.scrambled-webs-active input,
.scrambled-webs-active select,
.scrambled-webs-active textarea {
  pointer-events: none;
}
