.scrambled-webs-active {
  cursor: move;
  user-select: none;
}

.scrambled-webs-active *:not(body):hover {
  outline: 4px solid black !important;
  outline-offset: -4px;
  box-shadow: 0 0 0 4px white !important;
}

.scrambled-webs-active *:not(body) {
  transition: outline 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.scrambled-webs-active a,
.scrambled-webs-active button,
.scrambled-webs-active input,
.scrambled-webs-active select,
.scrambled-webs-active textarea {
  pointer-events: none;
}
